Machines:
{{#records}}
---System: {{name}} - {{status}}
------File Systems: 
{{#filesystems}}
----------{{label}}:  {{freespace}}
{{/filesystems}}

{{/records}}

Services:
{{#services}}
---{{name}}: {{status}}
{{/services}}